WebContent/WEB-INF/services/AutoIncOrderProcess/META-INF/AutoIncCheckAvailabilityService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CheckAvailabilityService" targetNamespace="http://service.autoinc.com/CheckAvailabilityService/" xmlns:xsd1="http://www.example.org/AutoIncFactoryServiceSN" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.autoinc.com/CheckAvailabilityService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://service.autoinc.com/CheckAvailabilityService/" xmlns:pref="http://www.example.org/AutoIncFactoryServiceSN">
    	<xsd:import namespace="http://www.example.org/AutoIncFactoryServiceSN" schemaLocation="AutoIncFactoryServiceSN.xsd"/>
    	<xsd:element name="findClosestWareHouse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="in" type="xsd:string"/>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="findClosestWareHouseResponse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="out" type="xsd:string"/>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.example.org/AutoIncFactoryServiceSN" schemaLocation="AutoIncFactoryServiceSN.xsd">
    	</xsd:import></xsd:schema>
  </wsdl:types>
  <wsdl:message name="findClosestWareHouseResponse">
    <wsdl:part name="parameters" element="xsd1:findClosestWarehouseRespEle">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findClosestWareHouseRequest">
    <wsdl:part name="parameters" element="xsd1:findClosestWarehouseInpEle">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AutoIncCheckAvailabilityService">
    <wsdl:operation name="findClosestWareHouse">
      <wsdl:input message="tns:findClosestWareHouseRequest">
    </wsdl:input>
      <wsdl:output message="tns:findClosestWareHouseResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CheckAvailabilityServiceSOAP" type="tns:AutoIncCheckAvailabilityService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findClosestWareHouse">
      <soap:operation soapAction="http://service.autoinc.com/CheckAvailabilityService/findClosestWareHouse"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoIncCheckAvailabilityService">
    <wsdl:port name="CheckAvailabilityServiceSOAP" binding="tns:CheckAvailabilityServiceSOAP">
      <soap:address location="http://localhost:8080/AutoIncFactoryService/services/AutoIncCheckAvailabilityservice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
