resources/AutoIncOrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CheckAvailabilityService" targetNamespace="http://service.autoinc.com/CheckAvailabilityService/" xmlns:xsd1="http://www.example.org/AutoIncFactoryServiceSN" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.autoinc.com/CheckAvailabilityService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://service.autoinc.com/CheckAvailabilityService/" xmlns:pref="http://www.example.org/AutoIncFactoryServiceSN">
    	<xsd:import namespace="http://www.example.org/AutoIncFactoryServiceSN" schemaLocation="AutoIncFactoryServiceSN.xsd"/>
    	
    	<xsd:element name="findCheapestSupplierInput" type="tns:supplierPreference">
    	</xsd:element>
    	<xsd:element name="findCheapestSupplierResponse" type="tns:cheapSupplier">
            </xsd:element>
            
            <xsd:complexType name="cheapSupplier">
            	<xsd:sequence>
            		<xsd:element name="supplierId" type="xsd:int"/>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="supplierPreference">
            	<xsd:sequence>
            		<xsd:element name="preference" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="findTotalCostRequest">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="productId" type="xsd:int"/>
            			<xsd:element name="supplierId" type="xsd:int">
            			</xsd:element>
            			<xsd:element name="quantity" type="xsd:int">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="findTotalCostResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="totalCost" type="xsd:double"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.example.org/AutoIncFactoryServiceSN" schemaLocation="AutoIncFactoryServiceSN.xsd">
    	</xsd:import></xsd:schema>
  </wsdl:types>
  <wsdl:message name="findTotalCostResponse">
    <wsdl:part name="parameters" element="tns:findTotalCostResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findCheapestSupplierRequest">
    <wsdl:part name="parameters" element="tns:findCheapestSupplierInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findTotalCostRequest">
    <wsdl:part name="parameters" element="tns:findTotalCostRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findCheapestSupplierResponse">
    <wsdl:part name="parameters" element="tns:findCheapestSupplierResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AutoIncCheckOrderService">
    <wsdl:operation name="findCheapestSupplier">
      <wsdl:input message="tns:findCheapestSupplierRequest">
    </wsdl:input>
      <wsdl:output message="tns:findCheapestSupplierResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findTotalCost">
      <wsdl:input message="tns:findTotalCostRequest">
    </wsdl:input>
      <wsdl:output message="tns:findTotalCostResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CheckOrderServiceSOAP" type="tns:AutoIncCheckOrderService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findCheapestSupplier">
      <soap:operation soapAction="http://service.autoinc.com/CheckAvailabilityService/findCheapestSupplier"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findTotalCost">
      <soap:operation soapAction="http://service.autoinc.com/CheckAvailabilityService/findTotalCost"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoIncOrderService">
    <wsdl:port name="CheckAvailabilityServiceSOAP" binding="tns:CheckOrderServiceSOAP">
      <soap:address location="http://localhost:8080/AutoIncFactoryService/services/AutoIncCheckAvailabilityservice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
